{% extends "/shared/layout.html" %}
{% block header %}
    {% include "/components/global/header.html" %}
{% endblock %}
{% block sidebar %}
    {% include "/components/global/sidebar.html" %}
{% endblock %}
{% block content %}
<div class="py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('user_list_page') }}">Список пользователей</a></li>
            <li class="breadcrumb-item active" aria-current="page">Добавление пользователя</li>
        </ol>
    </nav>
    <h4 class="ms-2">Добавление нового пользователя</h4>
    <div class="m-2 p-3 mt-3 shadow col-8">
        {% include "/components/settings/users/user-add-form.html" %}
    </div>
    {% include "/components/settings/users/modal-token-show.html" %}
</div>
{% endblock %}