{% extends "/shared/layout.html" %}
{% block header %}
    {% include "/components/global/header.html" %}
{% endblock %}
{% block sidebar %}
    {% include "/components/global/sidebar.html" %}
{% endblock %}
{% block content %}
<div class="py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('properties_list_page') }}">Пользовательские типы</a></li>
            <li class="breadcrumb-item active" aria-current="page">История изменений</li>
            <li class="breadcrumb-item active" aria-current="page">{{ history[0].name }}</li>
        </ol>
    </nav>
    <h4 class="ms-4">{{ history[0].name }}</h4>
    <div class="m-2 p-3 mt-3">
        {% include "/components/settings/properties/properties-history.html" %}
    </div>
</div>
{% endblock %}