<h4 class="text-center">Функционал, доступный пользователям, с ролью не ниже «Администратор»</h4>
<i>Просмотр логов</i>
<p>Для просмотра логов аутентификаций пользователей в систему необходимо выбрать соответствующих пункт в навигационной панели. Внешний вид страницы «Логи» представлен на рисунке 3.21</p> 
<img src="/static/img/logs.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.21 – Внешний вид страницы «Логи»</p>
<p>Логи представлены в виде таблицы и фиксируют логин пользователя, статус авторизации, время осуществления, IP-адрес, с которого аутентификация осуществлялась, причину, в случае неудачи при аутентификации, 
а также клиент, с помощью которого пользователь получил доступ к сетевому ресурсу.</p>
<p>Для логов существуют фильтры по статусу и логину пользователя, осуществлявшего попытки аутентификации, а также поиск, осуществляемый среди значений всех столбцов одновременно.</p>
<i>Работа с учётными записями пользователей</i> 
<p>Для просмотра существующих учётных записей пользователей, а также добавления новых необходимо перейти на страницу «Пользователи», нажав на соответствующую надпись в панели навигации. 
    На открывшейся странице будут представлены списком все пользователи системы, отсортированные по роли (см. рисунок 3.22)</p>
<img src="/static/img/users.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.22 – Внешний вид страницы «Пользователи»</p>
<p>Каждый элемент списка содержит логин пользователя, его роль, статус токена доступа пользователя, а также дату создания учётной записи этого пользователя в системе. 
    Каждый элемент списка является кнопкой, нажатие на которую открывает страницу с подробной информацией о пользователе (см. рисунок 3.23)</p>
<img src="/static/img/user_view.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.23 – Внешний вид страницы «Просмотр пользователя»</p>
<p>Помимо информации, представленной на предыдущей странице, на странице «Просмотр пользователей» можно получить данные о дате последнего посещения пользователем системы, а также обо всех его токенах 
(в том числе и неактивных), о статусе каждого токена, и о списке моделей, доступ к которым этот токен предоставляет.</p> 
<p>Для активного токена доступна кнопка «Отозвать», которая делает недействительным токен пользователя, из–за чего он перестаёт иметь доступ к системе, до момента, пока для него не будет создан новый токен.</p>
<p>Кнопка «Перевыпустить» доступная на данной странице, осуществляет переход на страницу «Обновление пользователя» (см. рисунок 3.24)</p>
<img src="/static/img/update_user.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.24 – Внешний вид страницы «Обновление пользователя»</p>
<p>Функционал, реализованный в рамках данной страницы, позволяет выбрать те модели, которые будут доступны пользователю с его новым токеном. Старый токен, при обновлении пользователя, становится недействительным, 
    т.к. у пользователя в конкретный момент времени может быть либо один активный токен, либо ни одного. Нажатие кнопки «Обновить» осуществляет создание нового токена с заданным списком доступных моделей, 
    после чего появляется модальное окно, содержащее новый токен пользователя (см. рисунок 3.25)</p>
<img src="/static/img/token_modal.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.25 – Внешний вид модального окна с токеном</p>
<p>Из данного модального окна токен необходимо скопировать в буфер обмена. Для этого можно нажать на кнопку справа от поля ввода с токеном. После того, как токен был скопирован, при нажатии кнопки «Закрыть», 
    а также подтверждении своего решения в следующем модальном окне будет осуществлён переход назад, на страницу «Пользователи» (см. рисунок 3.22)</p>
<p>Также на странице «Пользователи», для добавления новых пользователей, находится кнопка «Добавить», нажатие на которую производит переход на страницу «Добавление пользователя» (см. рисунок 3.26)</p>
<img src="/static/img/user_add.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.26 – Внешний вид страницы «Добавление пользователя»</p>
<p>На странице «Добавление пользователя», для добавления пользователя, необходимо заполнить поле «Логин», выбрать роль пользователя среди предложенных, а также, как и при обновлении, создать список моделей, 
    к которым созданный пользователь будет иметь доступ. Нажатие кнопки «Создать» осуществит создание пользователя, после чего будет показано модальное окно, содержащее токен созданного пользователя 
    с предложением скопировать его (см. рисунок 3.25)</p>
<i>Пользовательские типы данных</i>
<p>Для начала работы с пользовательскими типами данных необходимо перейти на страницу «Пользовательские типы» при помощи навигационной панели. 
    На странице будут представлены существующие пользовательские типы (см. рисунок 3.27), а также кнопка «Добавить», нажатие на которую осуществит переход на страницу «Добавление пользовательских типов» 
    (см. рисунок 3.28). Элемент списка типов данных на странице «Пользовательские типы» состоит из названия пользовательского типа, а также полей, из которых пользовательский тип состоит. 
    Поле пользовательского типа, являющегося парой название поля – примитивный тип представлено в виде иконки, обозначающей примитивный тип данных и названия поля. 
    Также у каждого элемента списка есть по две кнопки. Первая осуществляет переход на страницу «История изменений пользовательского типа данных» (см. рисунок 3.30), 
    а вторая осуществляет переход на страницу «Обновление пользовательского типа данных» (см. рисунок 3.31).</p>
<img src="/static/img/props.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.27 – Внешний вид страницы «Пользовательские типы»</p>
<p>На странице «Добавление пользовательских типов» реализован функционал по созданию новых пользовательских типов данных.</p>
<img src="/static/img/props_add.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.28 – Внешний вид страницы «Добавление пользовательских типов»</p>
<p>Для создания пользовательского типа необходимо заполнить поле «Название», а также выбрать тип данных хотя бы одного поля, а также название для него. 
    Для добавления нового поля необходимо нажать на кнопку «Добавить поле», при появлении второго поля станет доступной кнопка «Удалить поле». 
    После заполнения всех полей и выбора для них типов данных необходимо нажать на кнопку «Создать» для того, чтобы пользовательский тип был создан. 
    В результате успешного создания пользовательского типа поля формы будут очищены, а в правом верхнем углу, появится уведомление об успешном создании (см. рисунок 3.29)</p>
<img src="/static/img/props_add_success.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.29 – Результат успешного создания пользовательского типа</p>
<p>При нажатии на кнопку «История изменений пользовательского типа данных» на странице «Пользовательские типы» будет осуществлён переход на соответствующую страницу.</p>
<img src="/static/img/props_history.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.30 – Внешний вид страницы «История изменений пользовательского типа данных»</p>
<p>На данной странице представлены предыдущие версии пользовательского типа данных от актуальной, до первой версии.</p>
<p>При нажатии на кнопку «Обновление пользовательского типа данных» на странице «Пользовательские типы» будет осуществлён переход на соответствующую страницу.</p>
<img src="/static/img/props_update.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.31 – Внешний вид страницы «Обновление пользовательского типа данных»</p>
<p>В качестве функций по обновлению пользовательского типа данных есть возможности добавлять и удалять поля, а также менять названия и типы данных для уже существующих полей пользовательского типа. 
    После внесения всех изменений, для их фиксации необходимо нажать на кнопку «Обновить». При успешном завершении операции будет показано соответствующее уведомление (см. рисунок 3.32)</p>
<img src="/static/img/props_update_success.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.32 – Результат успешного обновления пользовательского типа</p>
<i>Модели</i>
<p>Для начала работы с моделями необходимо выбрать пункт «Модели» в панели навигации и нажать на него, в результате чего будет осуществлён переход на страницу «Модели» (см. рисунок 3.33)</p>
<img src="/static/img/models.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.33 – Внешний вид страницы «Модели»</p>
<p>На данной странице представлены все существующие в системе модели данных в виде списка, содержащего их названия, а также кнопка «Добавить», осуществляющая переход на страницу «Создание модели» (см. рисунок 3.34)</p>
<img src="/static/img/models_add.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.34 – Внешний вид страницы «Создание модели»</p>
<p>Для создания новой модели данных необходимо будет заполнить поле «Название», а также выбрать хотя бы один пользовательский тип. При выборе двух и более пользовательских типов станет доступной кнопка «Удалить». 
    Количество полей модели не ограничено. После выбора необходимого количества пользовательских типов, для создания модели, необходимо нажать на кнопку «Создать». 
    При успешном создании модели форма очистится, а в правом верхнем углу будет показано уведомление (см. рисунок 3.35)</p>
<img src="/static/img/models_add_success.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.35 – Результат успешного создания модели.</p>
<p>Каждый элемент списка на странице «Модели» являет собой кнопку, нажатие на которую производит переход на страницу «Просмотр модели» (см. рисунок 3.36)</p>
<img src="/static/img/model_view.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.36 – Внешний вид страницы «Просмотр модели»</p>
<p>На данной странице представлена сама модель данных в виде списка из «аккордеонов», названиями которых являются составляющие модель пользовательские типы, а содержимым – их схемы. 
    Также на странице представлены две кнопки. Первая осуществляет переход на страницу «Просмотр истории модели» (см. рисунок 3.37), а вторая осуществляет переход на страницу «Обновление модели» (см. рисунок 3.38).</p>
<p>При переходе на страницу «Просмотр истории моделей» пользователь сможет пронаблюдать историю изменений, которые претерпевала модель начиная с актуальной версии и до той, которая была при создании модели</p>
<img src="/static/img/model_view_history.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.37 – Внешний вид страницы «Просмотр истории модели»</p>
<p>Переход на страницу «Обновление модели» предоставит пользователю возможность изменить (добавить, удалить, заменить какой-либо из входящих в состав модели пользовательских типов)</p>
<img src="/static/img/model_update.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.38 – Внешний вид страницы «Обновление модели»</p>
<p>После выполнения всех необходимых преобразований модели, для фиксации изменений, необходимо нажать на кнопку «Обновить». При успешном завершении операции появится уведомление, подтверждающее это (см. рисунок 3.39)</p>
<img src="/static/img/model_update_success.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.39 – Результат успешного обновления модели</p>