<h4 class="text-center">Функционал, доступный пользователям, с ролью не ниже «Модератор»</h4>
<p>У пользователя с ролью «Модератор» появляется дополнительная ссылка в меню навигации под названием «Подтверждение объектов». Её внешний вид представлен на рисунке 3.11</p>
<img src="/static/img/approve_objects.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.11 – Внешний вид страницы «Подтверждение объектов»</p>
<p>На данной странице представлены объекты, ожидающие верификации. Для того, чтобы просматривать верифицированные объекты, необходимо выбрать соответствующее значение фильтра «Статус» (см. рисунок 3.12)</p>
<img src="/static/img/status_value.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.12 – Возможные значения фильтра «Статус»</p>
<p>Фильтры «Модель» и «Владелец» позволяют выбрать конкретную модель или конкретного владельца, тогда объекты, созданные по другим моделям или другими пользователями, 
перестанут отображаться на странице. Фильтры «Дата создания с» и «Дата создания по» позволяют отображать только объекты, созданные в заданный промежуток времени. 
Отличное от состояния по умолчанию состояние может быть у всех фильтров одновременно.</p>
<p>Значение поля «Статус» является кнопкой, нажатие на которую на 2 секунды представит пользователю более подробную информацию о верификации объекта, 
    а именно: если объект принят или отклонён, то дату и время последнего изменения статуса, логин пользователя, осуществившего изменение статуса, а 
    также, в случае если объект был отклонён, причину отклонения. Пример сообщения, получаемого при нажатии на значение столбца «Статус» представлено на рисунке 3.13</p>
<img src="/static/img/status_message.png" alt="" class="img-fluid mx-auto d-block"/>  
<p class="text-center">Рисунок 3.13 – Пример сообщения, получаемого при нажатии на поле «Статус» объекта</p>
<i>Единичная верификация</i>
<p>Для верификации конкретного объекта в крайнем правом столбце таблицы существует кнопка, позволяющая получить детальную информацию об объекте (см. рисунок 3.14)</p>
<img src="/static/img/object_view_button.png" alt="" class="img-fluid mx-auto d-block"/> 
<p class="text-center">Рисунок 3.14 – Внешний вид кнопки для просмотра содержимого объекта</p>
<p>Страница, на которую осуществляется переход нажатием на данную кнопку содержит информацию о данных, которые хранятся в полях объекта, а также дополнительную информацию, 
    в частности статус верификации объекта, логин владельца объекта, дату его создания и последнего изменения статуса, если оно было, а также, в случае если изменение статуса 
    данного объекта уже происходило, то и логин модератор, это действие осуществившего. Внешний вид данной страницы представлен на рисунке 3.15</p>
<img src="/static/img/object_content.png" alt="" class="img-fluid mx-auto d-block"/> 
<p class="text-center">Рисунок 3.15 – Внешний вид страницы с информацией о объекте</p>
<p>В нижней части блока, содержащего информацию о значении полей объекта, в случае если объект находится в статусе «Ожидает подтверждения», будут располагаться кнопки «Принять» и «Отклонить», 
    если объект уже был принят, то будет доступна только кнопка «Отклонить», если же объект был ранее отклонён, пользователю будет доступна только кнопка «Принять».</p>
<p>Нажатие на кнопку «Принять» переводит объект в статус подтверждено. Нажатие кнопки отклонить приводит к появлению модального окна, в котором можно указать причину отклонения объекта (см. рисунок 3.16)</p>
<img src="/static/img/decline_reason.png" alt="" class="img-fluid mx-auto d-block"/> 
<p class="text-center">Рисунок 3.16 – Внешний вид модального окна для ввода причины отклонения объекта</p>
<p>При успешном завершении операции модальное окно ввода причины отклонения объекта сменится модальным окном, с уведомлением об успешном завершении операции (см. рисунок 3.17)</p>
<img src="/static/img/success_decline.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.17 – Внешний вид модального окна, с информацией об успешном отклонении модели</p>
<i>Пакетная верификация объектов</i>
<p>Существует возможность пакетной верификации объектов. Выбор объектов, для изменения статуса, может осуществляться двумя способами: при помощи фильтров, описанных ранее или 
    при помощи установки флажков в первом столбце строки, интересующего объекта (см. рисунок 3.18)</p>
<img src="/static/img/checkboxes.png" alt="" class="img-fluid mx-auto d-block"/> 
<p class="text-center">Рисунок 3.18 – Внешний вид флажков для выбора объектов</p>
<p>Рассмотрим первый способ подробнее. После выбора значения, отличного от значения по умолчанию любого из фильтров, становятся доступными кнопки «Принять все» и «Отклонить все», 
    нажатие на которые запустит выполнение действия, по изменению статуса всех объектов, удовлетворяющих фильтру, а не только представленных на странице. 
    При нажатии на любую из кнопок появится модальное окно, с просьбой подтверждения пакетной верификации объектов (см. рисунок 3.19) и, при нажатии на кнопку «Да» произойдёт изменение статуса у всех моделей, 
    соответствующих фильтру.</p>
<img src="/static/img/approve_many_modal.png" alt="" class="img-fluid mx-auto d-block"/> 
<p class="text-center">Рисунок 3.19 – Внешний вид модального окна подтверждения пакетной верификации</p>
<p>При просмотре расширенной информации о статусе объекта будет отображаться сообщение, гласящее, что статус объекта был изменён в ходе пакетной верификации (см рисунок 3.20)</p>
<img src="/static/img/many_approved_status.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.20 – Информация о пакетной верификации объектов в их статусе</p>
<p>Рассмотрим второй способ выбора объектов для пакетной верификации. При его использовании для выбора объектов необходимо устанавливать описанные ранее флажки в строках таблицы, 
    соответствующих интересующим моделям. После установки хотя бы одного флажка название кнопок действий внизу страницы меняется на «Принять выбранные» и «Отклонить выбранные». 
    Теперь данные кнопки будут осуществлять действия с объектами вне зависимости от того, какие фильтры выбраны до тех пор, пока все флажки не будут сняты.</p>
<p>Во всех остальных аспектах верификация посредством выбора конкретных объектов установкой флажков в соответствующих строках таблицы ничем не отличается описанного ранее процесса.</p>
