<i>Аутентификация в системе</i>
<p>Аутентификация в системе производится путём ввода данных учётной записи пользователя в поле ввода на стартовой странице. 
    Верхнее первое вводится логин пользователя, во второе вводится токен аутентификации, выданный пользователю администратором. 
    Страница авторизации представлена на рисунке 3.2</p>
<img src="/static/img/login.png" alt="" class="img-fluid mx-auto d-block"/> 
<p class="text-center">Рисунок 3.2 – Внешний вид формы аутентификации в системе</p>
<i>Поиск в системе</i>
<p>После успешной аутентификации пользователь увидит стартовую страницу, которая позволит осуществлять поиск информации в системе (см. рисунок 3.3).</p>
<img src="/static/img/start_page.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.3 – Внешний вид стартовой страницы</p>
<p>Поисковый запрос вводится в соответствующее поле и, после нажатия кнопки «Найти» осуществляется поиск среди доступных пользователю объектов. Внешний вид страницы с результатами поиска представлен на рисунке 3.4</p>
<img src="/static/img/search.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.4 – Внешний вид страницы с результатами поиска</p>
<i>Загрузка данных путём заполнения веб–формы</i>
<p>Второй доступной страницей является «Добавление моделей» (см. рисунок 3.5).</p>
<img src="/static/img/add_objects.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.5 – Внешний вид страницы «Добавление моделей»<p>
<p>Для добавления данных в систему посредством заполнения веб–форм необходимо выбрать интересующую модель, и, путём нажатия на её название перейти на страницу с автогенерируемой формой (см. рисунок 3.6)</p>
<img src="/static/img/object_form.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.6 – Внешний вид страницы с автогенерируемой формой</p>
<p>После заполнения формы данными и нажатия на кнопку «Создать объект», при успешном создании объекта выбранной модели значения в полях формы очистятся, 
    а в верхнем правом углу появится уведомление том, что объект выбранной модели создан успешно (см рисунок 3.7).</p>
<img src="/static/img/success_object_create.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.7 – Внешний вид результата успешного создания объекта</p>
<i>Загрузка данных из файла</i>
<p>Также пользователь может загружать несколько моделей одновременно путём загрузки данных их файла. 
    Для этого на странице «Добавление объектов» необходимо скачать файл, содержащий шаблон заполнения для конкретной модели путём нажатия на кнопку, выделенную на рисунке 3.8</p>
<img src="/static/img/button_file_load.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.8 – Внешний вид кнопки загрузки файла, содержащего шаблон для множественной загрузки</p>
<p>Содержимое файла представлено на рисунке 2.4. После его заполнения, для загрузки внесённой в файл информации в систему,
    необходимо нажать кнопку «Загрузить объекты из файла», после чего, в появившемся модальном окне выбрать заполненный файл и нажать на кнопку «Загрузить» (см. рисунок 3.9)</p>
<img src="/static/img/modal_file_load.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.9 – Внешний вид модального окна загрузки файла с объектами</p>
<p>При успешной обработке моделей из файла появится уведомление, с сообщением «успешно загружено N объектов» (см. рисунок 3.10)</p>
<img src="/static/img/success_file_load.png" alt="" class="img-fluid mx-auto d-block"/>
<p class="text-center">Рисунок 3.10 – Внешний вид сообщения об успешной загрузке объектов из файла</p>
