{% extends "/shared/layout.html" %}
{% block header %}
    {% include "/components/global/header.html" %}
{% endblock %}
{% block sidebar %}
    {% include "/components/global/sidebar.html" %}
{% endblock %}
{% block content %}
<div class="py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Объекты</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center col-8">
        <div class="mr-auto"><h4 class="ms-2">Объекты</h4></div>
    </div>
    <div class="m-2 mt-3">
        {% include "/components/objects/objects-list.html" %}
    </div>
    {% include "/components/objects/objects-change-status-modal.html" %}
</div>
{% endblock %}